<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springpracmapper">

<select id="logining" resultType="adventour_sp.VO.Ad_VO">
	select m_pw from member where m_id= '${m_id}' and m_pw='${m_pw}' ;
</select>



    <select id="city_select" resultType="adventour_sp.VO.Ad_VO">
        SELECT
        h_hotel.*,
        MIN(h_room.h_roompri) AS min_h_roompri
        FROM h_hotel
        INNER JOIN h_room ON h_hotel.h_name_eng = h_room.h_name_eng
        WHERE
        h_hotel.country_eng = #{city}
        GROUP BY
        h_hotel.h_name_eng;
    </select>
    
    
    
  <select id="hotel_in" resultType="adventour_sp.VO.Ad_VO">  
    		(
		SELECT h_room.*, h_hotel.*
		FROM h_room
		INNER JOIN h_hotel
		ON h_room.h_name_eng = h_hotel.h_name_eng
		WHERE h_room.h_name_eng =
		'${h_name_eng}'
		AND h_room.h_roomtype = 'double'
		ORDER BY RAND()
		LIMIT 1
		)
		UNION
		(
		SELECT h_room.*, h_hotel.*
		FROM h_room
		INNER JOIN h_hotel ON
		h_room.h_name_eng = h_hotel.h_name_eng
		WHERE h_room.h_name_eng =
		'${h_name_eng}'
		AND h_room.h_roomtype = 'suite'
		ORDER BY RAND()
		LIMIT 1
		);
    
  </select>   
  
<select id="select_main_search" resultType="adventour_sp.VO.Ad_VO">
    SELECT h_hotel.*, MIN(h_room.h_roompri) AS min_h_roompri
    FROM h_hotel
    JOIN h_room ON h_hotel.h_name_eng = h_room.h_name_eng
    WHERE h_hotel.country_eng = #{country_eng} AND h_hotel.city_eng = #{city_eng}
    AND h_room.h_roomnum NOT IN (
        SELECT h_roomnum
        FROM h_reserve
        WHERE (STR_TO_DATE(#{h_indateY}, '%Y-%m-%d') BETWEEN h_indate AND h_outdate
            OR STR_TO_DATE(#{h_outdateY}, '%Y-%m-%d') BETWEEN h_indate AND h_outdate)
        AND h_room.h_roompeo >= #{h_roompeo} )
    GROUP BY h_hotel.h_name_eng;
</select>
    

</mapper>